.trackable
  .trackable__line-1
    a.trackable__checkbox.checkbox(href='#')
      .trackable__details
        p.trackable__details__name Alcohol
        p.trackable__details__timeframe
          | 4 hours before
    a.trackable__arrow(href='#')
      .arrow.arrow-forward.arrow-dark
        .arrow__line-2
        .arrow__line-1