extends base

block content
  .content
    header.header
      .header__text.container
        | Welcome to Sleepily. We are a simple sleep journal whose goal is to
        | help you find out when you sleep your best and why. How, you may ask?
        | (and you should). It&rsquo;s simple!
    .container
      .step
        .step__title
          .step__number
            span 1
          h3 Create an Account
        p
          | Well you can&rsquo;t track anything without an account. So sign up first!
      .step
        .step__title
          .step__number
            span 2
          h3 Create a Trackable
        p
          | You can track correlations between your sleep and other activities
          | through the use of Trackables. Trackables are activities or habits
          | that you can quickly log after a night of sleep. An example of a
          | Trackable is &ldquo;Exercise&rdquo;. Over time you may notice patterns emerge.
      .step
        .step__title
          .step__number
            span 3
          h3 Log Your Sleep
        p
          | The last step in the puzzle is logging when you fell asleep, how
          | long, and some other details. We compare these details with the
          | trackables to find out potential cause and effects to your sleep
          | quality.