@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --dark-blue: #0a0768;
  --purple: #6f0273;
  --white: #f3f3f3;
  --text-color-dark: #303030; }

:root {
  --dark-blue: #0a0768;
  --purple: #6f0273;
  --white: #f3f3f3;
  --text-color-dark: #303030; }

.w-100 {
  width: 100%; }

.w-md-50 {
  width: 100%; }

.show-md {
  display: none; }

.mw-100 {
  max-width: 100%; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.col {
  flex: 100%; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.p-1 {
  padding: 0.2rem; }

.p-2 {
  padding: 1rem; }

.p-3 {
  padding: 1.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 2.25rem; }

.mb-5 {
  margin-bottom: 5rem; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

@media screen and (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .w-md-50 {
    width: 50%; }
  .show-md {
    display: inherit; } }

.my-settings input[type='text'],
.my-settings input[type='password'] {
  width: 100%; }

.my-settings .btn {
  width: 100%; }

.my-settings__submit {
  margin: 100px auto; }

.my-settings__divider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
  background: var(--dark-blue); }

.my-settings__section {
  margin-bottom: 30px; }

.my-settings__input-toggle {
  margin-bottom: 20px; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  height: 45px;
  padding: 0 20px;
  border-radius: 2px;
  cursor: pointer; }
  .btn-secondary {
    color: var(--white);
    background: var(--dark-blue); }
  .btn-primary {
    color: var(--white);
    background: var(--purple); }
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    height: 45px;
    width: 100%; }

.button-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--dark-blue);
  border-radius: 2px;
  color: var(--dark-blue);
  margin-bottom: 22px; }
  .button-toggle__option {
    flex-grow: 1; }
    .button-toggle__option input {
      display: none; }
    .button-toggle__option label {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      cursor: pointer; }
    .button-toggle__option input:checked ~ label {
      color: var(--white);
      background: var(--dark-blue); }

.btn-tags__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 12px; }

.btn-tag label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  height: 45px;
  padding: 0 20px;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  cursor: pointer;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue); }

.btn-tag .icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 10px;
  transition: 0.3s ease; }

.btn-tag input[type='checkbox'],
.btn-tag input[type='radio'] {
  display: none; }
  .btn-tag input[type='checkbox']:checked ~ label,
  .btn-tag input[type='radio']:checked ~ label {
    color: var(--white);
    background: var(--dark-blue); }
    .btn-tag input[type='checkbox']:checked ~ label .icon,
    .btn-tag input[type='radio']:checked ~ label .icon {
      transform: rotate(225deg); }
    .btn-tag input[type='checkbox']:checked ~ label .icon div,
    .btn-tag input[type='radio']:checked ~ label .icon div {
      background: var(--white); }

.plus-icon {
  display: inline-block;
  position: relative; }
  .plus-icon div {
    background: var(--dark-blue); }
  .plus-icon__horz {
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 1000px;
    transform-origin: center center; }
  .plus-icon__vert {
    display: inline-block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 1000px;
    transform: translateX(-50%);
    transform-origin: center center; }

.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative; }
  .checkbox .box {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: solid 1px var(--text-color-dark);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.2s ease; }

.checkbox input[type='checkbox'] {
  display: none;
  width: 0;
  height: 0; }

.checkbox label {
  width: 100%;
  margin-left: 37px;
  cursor: pointer; }

.checkbox input[type='checkbox']:checked ~ .box {
  background-color: var(--dark-blue);
  border: none; }
  .checkbox input[type='checkbox']:checked ~ .box:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(65% + 1px);
    left: calc(50% - 2px);
    background: white;
    height: 2px;
    width: 6px;
    transform: rotate(-135deg);
    transform-origin: left center;
    border-radius: 1000px; }
  .checkbox input[type='checkbox']:checked ~ .box:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(65% + 1px);
    left: calc(50% - 3px);
    background: white;
    height: 2px;
    width: 13px;
    transform: rotate(-45deg);
    transform-origin: left center;
    border-radius: 1000px; }

:root {
  --inactive-color: lightgray;
  --inactive-hover-color: darkgray;
  --slider-width: 46px;
  --slider-height: 28px;
  --slider-padding: 4px; }

.switch--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; }

.slider {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: var(--slider-width);
  height: var(--slider-height);
  margin-right: 10px;
  background: var(--inactive-color);
  border-radius: 10000px;
  padding: var(--slider-padding);
  transition: 0.3s; }

/* The order of these two is important */
.switch--container:hover input ~ .checkmark {
  background: var(--inactive-hover-color); }

.switch--container input:checked ~ .checkmark {
  background-color: #0a0768; }

.switch--container input:checked:hover ~ .checkmark {
  background: rgba(10, 7, 104, 0.75); }

.checkmark:after {
  content: '';
  background: white;
  display: block;
  position: absolute;
  height: calc(var(--slider-height) - (var(--slider-padding) * 2));
  width: calc(var(--slider-height) - (var(--slider-padding) * 2));
  border-radius: 100%;
  transition: 0.3s; }

.switch--container input:checked ~ .checkmark:after {
  margin-left: calc(var(--slider-width) - var(--slider-height)); }

.switch--container input ~ .label-text {
  color: var(--inactive-color);
  transition: 0.3s; }

.switch--container input:hover ~ .label-text {
  color: var(--inactive-hover-color); }

.switch--container input:checked ~ .label-text {
  color: #0a0768; }

.switch--container input:checked:hover ~ .label-text {
  color: rgba(10, 7, 104, 0.75); }

.arrow {
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  transition: 0.15s cubic-bezier(0.455, 0.39, 1, 1.5); }
  .arrow-back {
    transform: rotate(-45deg); }
  .arrow-forward {
    transform: rotate(135deg); }
  .arrow-down {
    transform: rotate(225deg); }
  .arrow-up {
    transform: rotate(45deg); }
  .arrow-dark div {
    background-color: var(--text-color-dark); }
  .arrow-light div {
    background-color: var(--white); }
  .arrow__line-1 {
    display: inline-block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 500px; }
  .arrow__line-2 {
    display: inline-block;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 500px; }

.trackables__list {
  margin-bottom: 48px; }
  .trackables__list > * {
    width: 100%; }

.list-view .trackable {
  margin: 5px 0; }
  .list-view .trackable a {
    color: var(--text-color-dark); }
  .list-view .trackable__line-1 {
    margin: 0;
    height: 54px; }

.trackable {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 21px; }
  .trackable__arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 44px;
    height: 100%; }

.trackable__line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  transform: scale(1);
  transition: 0.2s ease-in-out; }
  .trackable__line-1:hover {
    transform: scale(1.015); }

.trackable__line-2 {
  width: calc(100% - 29px);
  margin-left: 29px;
  max-height: 150px;
  transition: 0.3s ease-in; }

.trackable__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%; }

.trackable__details__name {
  margin-bottom: 5px; }

.trackable__details__timeframe {
  font-weight: 300;
  margin: 0; }

.trackable__quantity-label {
  font-weight: 300;
  margin-bottom: 9px; }

.trackable__quantity-number {
  width: 100%; }

.trackable input[type='text'] {
  margin-bottom: 0; }

.trackable__line-2__hidden {
  display: none;
  opacity: 0;
  position: absolute;
  transition: 0.3s ease; }

.trackable-checked {
  color: var(--dark-blue); }
  .trackable-checked .arrow div {
    background: var(--dark-blue); }

.step {
  margin-bottom: 40px; }
  .step__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    color: var(--white);
    background-color: var(--dark-blue);
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%; }
    .step__number span {
      transform: translateY(-2px); }
  .step__title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 7px; }
    .step__title h3 {
      margin-left: 9px; }

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50%;
  bottom: 30px;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  transform: translateX(50%);
  -webkit-box-shadow: -2px 2px 5px 0px rgba(39, 3, 41, 0.5);
  -moz-box-shadow: -2px 2px 5px 0px rgba(39, 3, 41, 0.5);
  box-shadow: -2px 2px 5px 0px rgba(39, 3, 41, 0.5);
  transition: 0.1s linear; }
  .fab:hover {
    opacity: 1;
    transform: translateX(50%) scale(1.05);
    transform-origin: center;
    -webkit-transform-origin: center;
    -webkit-box-shadow: -3px 3px 6px 0px rgba(39, 3, 41, 0.3);
    -moz-box-shadow: -3px 3px 6px 0px rgba(39, 3, 41, 0.3);
    box-shadow: -3px 3px 6px 0px rgba(39, 3, 41, 0.3); }
  .fab:active {
    transform: translate(50%, -1px);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(39, 3, 41, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(39, 3, 41, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(39, 3, 41, 0.5); }
  .fab .icon {
    display: inline-block;
    height: 30px;
    width: 30px; }
  .fab .icon div {
    background: var(--white); }

.datetimepicker {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.datetimepicker input {
  display: inline-block;
  height: 45px;
  width: 100%; }

.datetimepicker input:first-child {
  margin-right: 4px; }

textarea {
  margin-bottom: 20px; }

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom right, #0a0768, #520768);
  color: var(--white);
  padding: 0 16px;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .top-nav .logo {
    max-height: 45px;
    transition: 0.3s ease; }
  @media only screen and (max-width: 800px) {
    .top-nav .logo {
      max-height: 30px; } }
  .top-nav h1 {
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .top-nav .menu-item {
    cursor: pointer;
    position: relative; }
    .top-nav .menu-item::before {
      content: ' ';
      display: inline-block;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 1px;
      background: white;
      z-index: 10000;
      transition: 0.2s ease-out; }
    .top-nav .menu-item:hover::before {
      width: 100%; }
  .top-nav .menu-item__icon {
    display: none; }
  .top-nav__right {
    display: flex;
    justify-content: end;
    align-items: center; }
    .top-nav__right-menu__item {
      margin-left: 30px; }
    .top-nav__right .active {
      font-weight: 700; }
    .top-nav__right .menu-icon {
      display: none;
      cursor: pointer;
      z-index: 5000; }
  .top-nav ul {
    list-style-type: none;
    font-weight: 300; }
  .top-nav li {
    display: inline-block; }
  .top-nav a {
    color: #f3f3f3; }

.sleeplog-date {
  padding-top: 20px;
  font-size: 0px; }
  .sleeplog-date .line__divider {
    margin-bottom: 22px; }
  .sleeplog-date__date {
    margin-bottom: 20;
    font-size: 16px; }

.sleeplog-rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 35px; }
  .sleeplog-rating svg {
    margin-bottom: 8px; }
  .sleeplog-rating input[type='radio'] {
    display: none; }
  .sleeplog-rating input[type='radio'] ~ label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.4;
    cursor: pointer; }
  .sleeplog-rating input[type='radio']:checked ~ label {
    opacity: 1;
    color: var(--dark-blue);
    fill: var(--dark-blue); }
  .sleeplog-rating__rating {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sleeplog-rating__rating:active svg {
      animation: expandBtn 0.3s forwards; }
    .sleeplog-rating__rating__icon {
      margin-bottom: 8px; }
    .sleeplog-rating__rating__text {
      font-size: 12px; }

.rating-1 {
  color: var(--dark-blue);
  fill: var(--dark-blue); }

.rating-2 {
  color: #1d1994;
  fill: #1d1994; }

.rating-3 {
  color: #423cd2;
  fill: #423cd2; }

.rating-4 {
  color: #655ff0;
  fill: #655ff0; }

.rating-5 {
  color: #9490f8;
  fill: #9490f8; }

@keyframes expandBtn {
  0% {
    transform: scale(1); }
  90% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.my-history p {
  margin: 0; }

.my-history .rating-icon {
  width: 26px;
  height: 26px; }

.my-history .text-small {
  font-size: 10px;
  font-weight: 300; }

.my-history .text-large {
  font-size: 18px;
  font-weight: 400; }

.my-history__col-1 {
  flex: 5; }

.my-history__col-2 {
  flex: 4; }

.my-history__col-3 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.my-history__col-4 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.my-history__sleeplog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  color: var(--text-color-dark);
  border-bottom: 1px solid #ebebeb;
  transition: 0.2s ease-in-out; }
  .my-history__sleeplog:hover {
    transform: scale(1.015); }

.my-history__divider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  color: var(--white);
  background: var(--dark-blue);
  font-size: 14px;
  font-weight: 400;
  margin: 0; }

@media only screen and (max-width: 800px) {
  .my-history__sleeplog {
    height: 64px; }
  .my-history__divider {
    height: 24px;
    font-size: 12px; } }

.dashboard header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-blue);
  height: 56px;
  width: 100%;
  border-bottom: solid 1px rgba(10, 7, 104, 0.1);
  border-top: solid 1px rgba(10, 7, 104, 0.1); }

.dashboard .chart {
  height: 375px; }

.dashboard .trackable__stats {
  margin-bottom: 120px;
  font-weight: 400; }
  .dashboard .trackable__stats .correlation-positive {
    color: #443fbd; }
    .dashboard .trackable__stats .correlation-positive .arrow > * {
      background-color: #443fbd; }
  .dashboard .trackable__stats .correlation-negative {
    color: #6f0273; }
    .dashboard .trackable__stats .correlation-negative .arrow > * {
      background-color: #6f0273; }
  .dashboard .trackable__stats .correlation-na {
    color: #b87d00; }
    .dashboard .trackable__stats .correlation-na .arrow > * {
      background-color: #b87d00; }
  .dashboard .trackable__stats .trackable__details__name {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .dashboard .trackable__stats .trackable__details__name p {
      display: inline-block;
      font-weight: 700;
      margin: 0 10px 0; }
  .dashboard .trackable__stats .trackable {
    border-bottom: solid 1px rgba(10, 7, 104, 0.1);
    margin-bottom: 0; }
    .dashboard .trackable__stats .trackable__summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px 0;
      transform: scale(1);
      transition: 0.3s ease-out;
      cursor: pointer; }
      .dashboard .trackable__stats .trackable__summary:hover {
        transform: scale(1.015); }

.stats {
  width: 100%;
  max-height: 800px;
  transition: 0.15s ease-in;
  overflow: hidden; }
  .stats h4 {
    font-weight: 500;
    margin-bottom: 0; }
  .stats > *:last-child {
    margin-bottom: 40px; }
  .stats > canvas:last-child {
    display: inline-block;
    margin-bottom: 40px; }
  .stats__hidden {
    max-height: 0; }
  .stats .stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    color: var(--text-color-dark); }
    .stats .stat p {
      margin-bottom: 0; }
    .stats .stat .label {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .stats .stat .label img {
        width: 26px;
        height: auto;
        margin-right: 10px; }
    .stats .stat .data {
      text-align: right; }

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; }

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 50%;
  padding: 20px 15px;
  width: 100%;
  transform: translateX(-50%);
  color: white;
  z-index: 100000;
  animation: alert 0.3s forwards; }
  .alert--hide {
    animation: alert--hide 0.5s forwards; }
  .alert--success {
    background-color: #443fbd; }
  .alert--error {
    background-color: #870d29; }

@keyframes alert {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0; }
  100% {
    transform: translate(-50%, 0);
    opacity: 1; } }

@keyframes alert--hide {
  0% {
    transform: translate(-50%, 0);
    opacity: 1; }
  100% {
    transform: translate(-50%, -100%);
    opacity: 0; } }

@media only screen and (max-width: 800px) {
  .alert {
    top: 50px; } }

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #0a0768; }

.spinner {
  width: 4rem;
  height: 4rem; }
  .spinner.spinner3 {
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: rotation 0.8s linear infinite; }
  .spinner--loaded {
    animation: loaded 0.5s linear forwards; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes loaded {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

:root {
  --dark-blue: #0a0768;
  --purple: #6f0273;
  --white: #f3f3f3;
  --text-color-dark: #303030; }

.header {
  color: var(--white);
  background-image: linear-gradient(to left, rgba(243, 243, 243, 0.7), rgba(243, 243, 243, 0.7)), url("/images/hero-img.jpg");
  background-size: cover;
  background-position: right;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .header {
      background-image: url("/images/hero-img.jpg");
      background-position: center;
      min-height: 32.8vw; } }

p {
  line-height: 1.5; }

h3 {
  margin-bottom: 0.5rem; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: var(--white);
  color: var(--text-color-dark);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

h2 {
  font-weight: 900;
  font-size: 46px;
  color: var(--dark-blue); }

h3 {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 20px; }

h4 {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px; }

a {
  text-decoration: none;
  transition: 0.3s ease; }
  a:hover {
    opacity: 0.7; }

p {
  margin-bottom: 20px; }

input[type='date'],
input[type='time'],
input[type='text'],
input[type='password'] {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 44px;
  max-height: 44px;
  opacity: 1;
  border: 1px solid #8e939d;
  color: #c2c2c2;
  border-radius: 2px;
  margin-bottom: 20px;
  padding-left: 16px;
  transition: 0.1s ease-in; }

input[type='text']:focus,
input[type='password']:focus {
  color: var(--purple);
  border-color: var(--purple); }

input[type='text']:valid,
input[type='password']:valid {
  color: var(--dark-blue);
  border-color: var(--dark-blue); }

input::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #c2c2c2; }

textarea {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 14px;
  border-radius: 2px;
  border: 1px solid #8e939d; }

textarea:focus {
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue); }

textarea::placeholder {
  color: #c2c2c2; }

button {
  border: none;
  margin-bottom: 20px;
  transition: 0.3s ease; }
  button:hover {
    opacity: 0.7; }

.cols {
  display: flex;
  justify-content: space-between; }
  .cols * {
    flex-grow: 1;
    margin: 5px; }
  .cols .left {
    margin-left: 0; }
  .cols .right {
    margin-right: 0; }

.hide {
  max-height: 0 !important;
  overflow: hidden !important;
  opacity: 0 !important; }

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.line__divider {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: var(--purple);
  opacity: 0.1;
  border-radius: 50%; }

.container {
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px; }

.container-960 {
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px; }

#nav_toggle {
  display: none; }

.icon {
  cursor: pointer; }

.content {
  display: inline-block;
  margin: 70px auto 0 auto;
  width: 100%;
  position: relative; }
  .content > *:last-child:not(.fab) {
    margin-bottom: 100px; }

.form {
  display: flex;
  flex-direction: column; }

.login-form {
  padding-top: 74px; }

.trackable-form {
  padding-top: 22px; }

.center-vertically {
  display: flex;
  align-items: center;
  height: 100vh; }

.alternate-login {
  margin-top: 130px; }

.full-width {
  width: 100%; }

.center {
  display: flex;
  justify-content: center; }

.fixed-bottom {
  display: inline-block;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%); }

@media only screen and (max-width: 800px) {
  .btn {
    max-width: 100%; }
  .container,
  .container-960 {
    width: 100%; }
  .top-nav {
    height: 50px; }
  .top-nav__right-menu {
    display: none; }
  .top-nav__right .menu-icon {
    display: inline-block;
    fill: var(--dark-blue);
    height: 30px;
    width: 30px;
    position: relative; }
    .top-nav__right .menu-icon span {
      background: var(--white);
      display: inline-block;
      border-radius: 10000px;
      transition: 0.15s cubic-bezier(0.455, 0.39, 1, 1.5); }
    .top-nav__right .menu-icon .line-1 {
      width: 30px;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(7px) rotate(0); }
    .top-nav__right .menu-icon .line-2 {
      width: 22px;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      opacity: 1; }
    .top-nav__right .menu-icon .line-3 {
      width: 30px;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-7px) rotate(0); }
  .top-nav__right-menu-background {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100vh;
    background: var(--white);
    z-index: 0;
    transition: 0.1s ease-in; }
  .top-nav_right-menu a {
    position: relative; }
  .icon {
    fill: var(--white); }
  #nav_toggle:checked ~ .menu-icon {
    position: relative; }
    #nav_toggle:checked ~ .menu-icon span {
      background: #0a0768;
      display: inline-block;
      border-radius: 10000px; }
    #nav_toggle:checked ~ .menu-icon .line-1 {
      width: 30px;
      height: 2px;
      transform: rotate(45deg); }
    #nav_toggle:checked ~ .menu-icon .line-2 {
      width: 22px;
      height: 2px;
      top: 50%;
      right: 50%;
      transform: translateX(50%) rotate(45deg);
      opacity: 0; }
    #nav_toggle:checked ~ .menu-icon .line-3 {
      width: 30px;
      height: 2px;
      transform: rotate(-45deg); }
  #nav_toggle:checked ~ .menu-icon .icon {
    fill: var(--dark-blue); }
  #nav_toggle:checked ~ .top-nav__right-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding-top: 70px;
    z-index: 5000; }
    #nav_toggle:checked ~ .top-nav__right-menu-background {
      width: 100%;
      opacity: 0.95; }
    #nav_toggle:checked ~ .top-nav__right-menu .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 100%;
      padding: 0 20px;
      margin: 0; }
    #nav_toggle:checked ~ .top-nav__right-menu .menu-item {
      display: inline-block;
      height: 45px;
      width: 100%;
      position: relative;
      padding: 0 20px;
      color: var(--dark-blue);
      margin: 0; }
    #nav_toggle:checked ~ .top-nav__right-menu .menu-item__icon {
      display: inline-block;
      position: absolute;
      left: calc(50% - 68px);
      top: 50%;
      transform: translateY(-50%); }
    #nav_toggle:checked ~ .top-nav__right-menu .menu-item__text {
      position: absolute;
      left: calc(50% - 30px);
      top: 50%;
      transform: translateY(-50%); }
    #nav_toggle:checked ~ .top-nav__right-menu li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      width: calc(100% - 32px); }
  .top-nav__right-menu__item {
    margin: 0; }
  .top-nav__right-menu .menu-item-loggedin {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .content {
    margin-top: 50px; } }
