@import '../abstracts/variables';

.header {
  color: var(--white);
  background-image: linear-gradient(
      to left,
      rgba(#f3f3f3, 0.7),
      rgba(#f3f3f3, 0.7)
    ),
    url('/images/hero-img.jpg');
  background-size: cover;
  background-position: right;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  margin-bottom: 40px;

  @media screen and (min-width: $bp-md) {
    background-image: url('/images/hero-img.jpg');
    background-position: center;
    min-height: 32.8vw;
  }
}
