$dark-blue: #0a0768;
$success_1: #443fbd;
$error_1: #870d29;
$purple: #6f0273;
$white: #f3f3f3;
$text-color-dark: #303030;
$navHeight-desktop: 70px;
$navHeight-mobile: 50px;

:root {
  --dark-blue: #0a0768;
  --purple: #6f0273;
  --white: #f3f3f3;
  --text-color-dark: #303030;
}
